body{
text-align: center; background-color: lightgreen;
}
div{
margin-top: 15px;
}
.image-section{
display:flex;
justify-content: center;
}
.section-style{
margin-left: 25px;
margin-right: 25px;
background-color: mintcream;
}
img{
width: 676px;
height: 446px;
}
